@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600&display=swap%27');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background: #232323;
    background-color: rgba(0, 0, 0 , 0.95);
    color: white;
    display: flex;
    justify-content: space-between;
}
/* Definindo o tamanho da barra de rolagem */
body::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}

/* Definindo a estilização da LINHA(O TODO) da barra de rolagem  */
body::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.1);
}

/*Definindo a estilização da linha que SEGUE a rolagem */
body::-webkit-scrollbar-thumb{
    background: rgba(55, 193, 202, 1);
    border-radius: 5rem;
}

#loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading img{
    width: 15vw;
    margin: 0 auto;
}

header{
    width: 15%;
    height: 100%;
    display: none;
}

header nav{
    position: fixed;
    padding: 65px 0px 0px 0px;
    width: 15vw;
    height: 100%;
    /* background-color: #37C1CA; */
    background-color: #161616;
    box-shadow: 0px 0px 15px rgba(255, 255, 255 , 0.05);
    border: 1px solid rgba(255, 255, 255 , 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    float: left;
}

header nav .informations-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}

header nav .informations-profile .img-profile{
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header nav .informations-profile .img-profile .img-client{
    width: 10vw;
    height: 10vw;
    border: 1.5px solid rgba(255, 255, 255 , 0.1);
    border-radius: 100vw;
    box-shadow: 0px 0px 15px rgba(255, 255, 255 , 0.05);
}

header nav .informations-profile .img-profile a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .informations-profile .img-profile a .icon-settings{
    cursor: pointer;
    background-color: #40E0D0;
    color: #fff;
    width: 2.3vw;
    height: 2.3vw;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255 , 0.05);
    transition: 0.25s ;
}

header nav .informations-profile .img-profile a:hover .icon-settings:hover {
    background-color: #000;
}

header nav .informations-profile .img-profile a .icon-settings i{
    font-size: 1.2vw;
    /* width: 1vw; */
}

header nav .informations-profile h3{
    font-size: 1.1vw;
    font-weight: 600;
    /* color: #40E0D0; */
    color: #40E0D0;
}
/* header nav .list-month, .list-setor, .list-navegation{ */
header nav .list-navegation{
    margin-top: 3vh;
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}

/* header nav .list-month h3, .list-setor h3{ */
/* header nav .list-navegation h3{
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    color: #fff;
    color: #40E0D0;
    letter-spacing: 0.03em;
    font-size: 1vw;
} */

header nav .list-navegation .list-item, header nav .list-navegation .list-item-now{
    width: 75%;
}

/* header nav .list-month .list-item, .list-setor .list-item,  */
header nav .list-navegation .list-item a{
    font-size: 0.8vw;
    font-weight: 300;
    color: #fff;
    transition: 0.5s;
}

/* header nav .list-month .list-item:hover , .list-setor .list-item:hover */
header nav .list-navegation .list-item a:hover{ 
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    /* background-color: rgba(0, 0, 0 , 0.25); */
    background-color: #37C1CA;
    width: 7vw;
    /* color: black; */
    color: #fff;
    /* color: #40E0D0; */
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0 , 0.1);
    border-radius: 0.25vw;
    box-shadow: 0px 0px 4px rgba(0, 0, 0 , 0.1) ;
}

header nav .list-navegation .list-item-now a{ 
    /* width: 7vw;
    background-color: #37C1CA;
    color: #fff;
    padding: 5px 10px 5px 10px; */
    font-size: 0.8vw;
    font-weight: 500;
    color: #40E0D0;
    /* border: 1px solid rgba(0, 0, 0 , 0.1);
    border-radius: 0.25vw;
    box-shadow: 0px 0px 4px rgba(0, 0, 0 , 0.1) ; */
}

header nav .logout{
    width: 75%;
    margin-top: 5vh;
}

header nav .logout a{
    text-decoration: none;
}

header nav .logout a .logout-button{
    cursor: pointer;
    /* background-color: #000; */
    background-color: #37C1CA;
    color: white;
    width: 11vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vh;
    border: 1px solid transparent;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.05);
    transition: 0.3s all ease-in-out;
}

header nav .logout a .logout-button:hover{
    background-color: #000;
    /* opacity: 0.9; */
}

.container{
    width: 85%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.container .nav{
    /* background-color: #37C1CA; */
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.container .nav .icon i{
    cursor: pointer;
    font-size: 1.4vw;
    transition: all 0.25s linear;
}

.container .nav .icon i:hover{
    color: #40E0D0;
}

.container .nav .logo .img-logo{
    width: 10vw;
}

.container .content{
    width: 90%;
}

.container .content .client-informations{
    width: 100%;
    display: flex;
}

.container .content .client-informations .status-datacenter{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .client-informations .status-datacenter h4{
    font-size: 1.3vw;
    font-family: 'Nunito Sans';
    color: #40E0D0;
    width: 10vw;
}

.container .content .client-informations .status-datacenter .img-status{
    width: 12vw;
}

.container .content .client-informations .selects{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .content .client-informations .selects .selects-content h4{
    color: #40E0D0;
}

.container .content .client-informations .selects .selects-content input, .select{
    position: absolute;
    background-color: #161616;
    color: #C3C3C3;
    width: 13vw;
    height: 5vh;
    border: 1px solid rgba(255, 255, 255 , 0.05);
    border-radius: 0.5vw;
    margin-top: 2vh;
    padding-left: 1.5vh;
    font-weight: 200;
    letter-spacing: 0.05rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.container .content .client-informations .selects .selects-content input[type="date"]:focus{
    background: #161616 !important;
    border-radius: 0.5vw;
}

.container .content .client-informations .selects .selects-content input[type="date"]::-webkit-calendar-picker-indicator{
    padding: 1vw;
    cursor: pointer;
    filter: invert(100) brightness(100%) sepia(100%) saturate(100%) hue-rotate(240deg);
}

.container .content .client-informations .selects .selects-content select:visited{
    border: none;
}

.container .content .dashboard{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .content .dashboard .line{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .content .dashboard .line .line-chart .title h4, .container .content .dashboard .donut .donut-chart .title h4{
    color: rgba(255, 255, 255 , 0.95);
    font-weight: 400;
}

.container .content .dashboard .line .line-chart .chart, .container .content .dashboard .donut .donut-chart .chart{
    margin-top: 3vh;
    width: 35vw;
    height: auto;
    padding: 15px;
    background-color: #161616;
    border: 1px solid rgba(255, 255, 255 , 0.05);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins';
}
.container .content .dashboard .donut{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .content .dashboard .donut .donut-chart .chart .chart-item{
    width: 20vw;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #fff;
}