@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100;
    background-color: #E0FFFC;

}

header img {
    margin-left: 3vh;
    margin-top: 1.5vh;
    height: 2.5vh;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    background-color: rgba(55, 193, 202, 1);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9999;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 50%;
    gap: 10vh;
    font-family: Poppins;
    position: fixed;
}

header .exitIcon {
    margin-right: 3vh;
}

main {
    margin: 0;
    padding: 0;
}

main .top {
    height: 60vh;
    background-color: #37C1CA;

}

main .top .top_draw {
    padding-right: 10vh;
    padding-top: 10vh;
    height: 40vh;
    display: flex;
    justify-content: center;
}

main .vamos-la {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Poppins;
    padding-top: 17vh;
    padding-right: 10vh;
}

main .imgServer {
    padding-top: 5vh;
}

main div .button-vamos-la {
    margin-left: 40vh;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 10px;
    border: #000 0px solid;
    border-radius: 5px;
    width: 25vh;
    height: 35px;
    background-color: #40E0D0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.button-vamos-la:hover {
    background-color: #4A91A1;
    cursor: pointer;
}

.sobre-nos-title {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-family: Nunito Sans;
    color: #40E0D0;

}

.sobre-nos-subtitle {
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
    color: #40E0D0;
    font-family: Poppins;
}

.sobre-nos-text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 4vh;
    font-family: Poppins;
}

.sobre-empresa-text {
    margin-left: 8vh;
    margin-right: 1vh;
}

.localizacao-text {
    margin-left: -5vh;
    margin-right: 0;
}

.entre-em-contato-text {
    margin-right: 5vh;
}


.sobre-nos-subtitle .sobre-empresa-subtitle {
    margin-left: 5vh;
}

.sobre-nos-subtitle .localizacao-subtitle {
    margin-left: 5vh;
}

.sobre-nos-subtitle .entre-em-contato-subtitle {
    margin-left: 6vh;
}

.sobre-nos-icon {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}

.icon-sobre-empresa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 15vh;
    border-radius: 10px;
    background-color: #5E4DCD;
}

.icon-localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 15vh;
    border-radius: 10px;
    background-color: #B91616;
}

.icon-sobre-entre-em-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 15vh;
    border-radius: 10px;
    background-color: #1B853F;
}

.nosso-objetivo-title {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    font-family: Nunito Sans;
    color: #40E0D0;
}

.nosso-objetivo-img {
    border: #000 0.5px solid;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.nosso-objetivo-content {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-left: 4vh;
}

.nosso-objetivo-text {
    font-size: 3vh;
    font-family: Poppins;
    margin-left: -15vh;
    margin-right: 20vh;
}

.como-funciona-title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: Nunito Sans;
    color: #40E0D0;
}

.como-funciona-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-top: 5vh;

}

.como-funciona-text {
    font-family: Poppins;
}

.como-funciona-img {
    margin-top: -10vh;
    margin-left: -10vh;
}

.button-como-funciona {
    margin-left: 80vh;
    font-size: 4vh;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 10px;
    border: #000 0px solid;
    border-radius: 5px;
    width: 35vh;
    height: 50px;
    background-color: #40E0D0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.button-como-funciona:hover {
    background-color: #4A91A1;
    cursor: pointer;
}

.planos {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.planos-title {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    font-family: Nunito Sans;
    color: #40E0D0;
    text-align: center
}

.box {
    padding: 3vh;
    border-radius: 3%;
    background-color: #D9D9D9;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.mes-gratis {
    margin-bottom: 3vh;
    padding: 1vh;
    width: 18vh;
    display: flex;
    justify-content: center;
    font-family: Poppins;
    border-radius: 10%;
    background-color: #40E0D0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.plano-title {
    font-size: 20px;
    font-weight: bold;
    font-family: Nunito Sans;
}

.plano-text {
    margin-top: 5vh;
    font-family: Nunito Sans;
}

.plano-preço {
    font-family: Nunito Sans;
    font-weight: bolder;
}

.assinatura-box {
    font-family: Poppins;
    margin-left: 2vh;
    margin-top: 3vh;
    border: #000 0px solid;
    border-radius: 5px;
    width: 35vh;
    height: 35px;
    background-color: #40E0D0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.assinatura-box:hover {
    background-color: #4A91A1;
    cursor: pointer;
}

.ferramentas-title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: Nunito Sans;
    color: #40E0D0;
}

.slider {
    display: flex;
    height: 390px;
    margin: auto;
    overflow-x: hidden;
    align-items: center;
}

.splider::before {
    position: absolute;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9, 0), #f7f7f7);
}

.slider::after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9, 0), hsla(0, 0%, 96.9, 0.99) 99%);
}

.slider .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    width: calc(240px * 10);
}

.slide .slide {
    display: flex;
}

.slide .slide img {
    width: 180px;
    height: 80px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.025) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }
}

.equipe-title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: Nunito Sans;
    color: #40E0D0;
}

.equipe-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 240px;
    margin-left: 12vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: Nunito Sans;
    font-weight: bold;
    color: #40E0D0;
}

.equipe-cargo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 260px;
    margin-left: 12vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: Nunito Sans;
    color: #8E8E8E;
}




.opiniao-title {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-family: Nunito Sans;
    color: #40E0D0;
}

.opiniao-subtitle {
    margin-left: 8vh;
    font-family: Poppins;
}

.boxOpiniao img {
    margin-left: 6vh;
}

.boxOpiniao .opiniao-3 {
    font-family: Poppins;
    margin-left: 12vh;
}

.opiniao-text {
    font-family: Poppins;
}

.opiniao {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxOpiniao {
    display: wrap;
    padding: 3vh;
    border-radius: 3%;
    background-color: #40E0D0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.suport-title {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    font-family: Nunito Sans;
    color: #40E0D0;
}

.input_s {
    border: none;
    margin-left: -30vh;
    width: 40vh;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 2px 2px 4px #c5c5c5,
        -2px -2px 6px #ffffff;
    transition: 0.3s;
}

#mande_mensagem {
    height: 20vh;
    width: 70vh;
    margin-left: 0vh;
    padding-bottom: 15vh;
}


.suport-content button {
    margin-left: 0;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 10vh;
    border: #000 0px solid;
    border-radius: 5px;
    width: 25vh;
    height: 35px;
    background-color: #40E0D0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.suport-content button:hover {
    background-color: #4A91A1;
    cursor: pointer;
}

.suport-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.footer {
    border-bottom: 3px solid #40E0D0;
    width: auto;
    margin: auto;
    background-color: #40E0D0;
    height: 100%;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.4);
}

.footer #slogan {
    margin: 0;
    padding: 10vh;
    font-size: 250%;
    height: 0;
}

.footer #links {
    list-style: none;
    margin-top: 10%;
    padding: 5%;
    display: fixed;
    flex-direction: column;
    color: #ffff;
}

.footer #copyright {
    margin-left: 30%;
    margin-bottom: 2%;
    color: #ffff;
}

.footer #redesSociais {
    padding-left: 80%;
    margin-top: -10vh;
    font-size: 250%;
    color: #D9D9D9;
}

.footer #politicasEtermos {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 75%;
    margin-bottom: 2%;
    color: #D9D9D9;
}

.footer #redeImg {
    margin: 0;
    padding: 0;
    width: 100%;
}